<!-- Portfolio Modals (Static Version) -->
<div class="portfolio-modal modal fade" id="portfolioModal-1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr"><div class="rl"></div></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Project Title</h2>
            <hr class="star-primary">
            <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/SugarCitySlice_raisin720.png" alt="Raisin Rolls" class="img-responsive">
            <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/SugarCitySlice_coconut720.png" alt="Coconut Rolls" class="img-responsive">
            <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/BeefPatty720.png" alt="Beef Patty" class="img-responsive"
            <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/almond-scones720.png" alt="Almond Scones" class="img-responsive">
            <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/Blondies720.jpg" alt="Blondies" class="img-responsive">
            <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/chocolate-cake 720.jpg" alt="Chocolate Cake" class="img-responsive">
            <p>Description of the project goes here.</p>
            <ul class="list-inline item-details">
              <li>Client: <strong>Client Name</strong></li>
              <li>Date: <strong>Project Date</strong></li>
              <li>Service: <strong>Category Name</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
