<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Bakes</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
          <!-- Static Image 1 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/Fancyraisin720.png" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/Fancy_raisin720.png" class="img-responsive" alt="Raisin Rolls">
        </a>
      </div>
            <!-- Static Image 2 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/SugarCitySlice_coconut720.png" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/SugarCitySlice_coconut720.png" class="img-responsive" alt="Coconut Rolls">
        </a>
      </div>
            <!-- Static Image 3 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/BeefPatty720.png" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/BeefPatty720.png" class="img-responsive" alt="Beef Patties">
        </a>
      </div>
      <!-- Static Image 4 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/almond-scones720.png" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/almond-scones720.png" class="img-responsive" alt="Almond Scones">
        </a>
      </div>

      <!-- Static Image 5 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/Blondies720.jpg" class="portfolio-link" data-toggle="modal">  
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/Blondies720.jpg" class="img-responsive" alt="Blondies">
        </a>
      </div>

      <!-- Static Image 6 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/chocolate-cake 720.jpg" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="https://raw.githubusercontent.com/willaliburd/Sugarcityslices/test/_img/Portfolio/chocolate-cake 720.jpg" class="img-responsive" alt="Chocolate Cake">
        </a>
      </div>
    </div>
  </div>
</section>
