<!-- About Section -->
<section class="sugar" id="Whereabout">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Bakes</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>April 19 Slices</p>
<ul class="star-bullet">
<li>Sugar City Slice with coconut OR raisin filling - $5</li>
<li>Gluten-free, dairy free, lemon pound cake $5
<li>Beef Patty - $5</li>
<li>Vegan root vegetable Patty - $5</li>
<li>White chocolate cranberry brown butter blondies - 2 for $5</li>
<li>Complimentary bush tea (iykyk!) with any order!</li>
</ul>
<p>People's Market 9 am - 1:00 pm or <a href="mailto:info@sugarcityslices.com">contact us</a> for pickup orders.</p>
 </div>
       <div class="col-lg-4">
        <p>We offer pastries on a rotating basis including our Sugar City Slices in with coconut filling, almond scones, blondies, and black cake.</p>
      </div>
    </div>
  </div>
</section>
