<!-- About Section -->
<section class="sugar" id="Whereabout">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Bakes</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>April 5 Slices</p>
<ul class="star-bullet">
<li>Sugar City Slice with raisin filling - $6</li>
<li>Gluten-free, dairy free, coconut cupcakes with coconut frosting - 2 for $5
<li>Chocolate cake $5, Beef Patty - $5</li>
<li>Complimentary bush tea (iykyk!) with any order!</li>
</ul>
<p>People's Market 9-11 am or <a href="mailto:info@sugarcityslices.com">contact us</a> for pickup orders.</p>
 </div>
    </div>
  </div>
</section>
