<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Where To Find Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Sugar City Slices is a tiny, from scratch, home based cottage bakery in Bloomington, Indiana. We use no ultra-processed foods in our baking, only all-natural ingredients. We use locally sourced and organic ingredients whenever possible. </p>
      </div>
      <div class="col-lg-4">
        <p>You can find us most Saturdays at the <a href="https://www.peoplesmarketbtown.org"> Peoples Market located behind the IU Credit Union (Eastland) on Bloomington's east side.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
